<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.rms.system.mapper.UsersMapper">

    <select id="findByKeyword" resultType="TbUsers">
        SELECT /* UsersMapper.findByKeyword */
            USER_ID
             , USER_NAME
             , EMAIL
             , PASSWORD
             , ROLE
             , COMPANY_SEQ
             , DEL_YN
             , REG_ID
             , REG_DT
             , MOD_ID
             , MOD_DT
        FROM TB_USERS
        WHERE 1=1
          AND DEL_YN = 'N'
        ORDER BY USER_ID ASC
    </select>

    <select id="findById" resultType="TbUsers">
        SELECT /* UsersMapper.findById */
            USER_ID
             , USER_NAME
             , EMAIL
             , PASSWORD
             , ROLE
             , COMPANY_SEQ
             , DEL_YN
             , REG_ID
             , REG_DT
             , MOD_ID
             , MOD_DT
        FROM TB_USERS
        WHERE 1=1
          AND DEL_YN = 'N'
          AND USER_ID = #{id}
    </select>

    <insert id="insert" parameterType="TbUsers">
        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT nextval('seq_users')
        </selectKey>
        INSERT INTO TB_USERS ( /* UsersMapper.insert */
        USER_ID
        , USER_NAME
        , EMAIL
        , PASSWORD
        , ROLE
        , COMPANY_SEQ
        , DEL_YN
        , REG_ID
        , REG_DT
        , MOD_ID
        , MOD_DT
        )
        VALUES (
        #{userId}
        , #{userName}
        , #{email}
        , #{password}
        , #{role}
        , #{companySeq}
        , #{delYn}
        , #{regId}
        , #{regDt}
        , #{modId}
        , #{modDt}
        )
    </insert>

    <update id="update" parameterType="TbUsers">
        UPDATE TB_USERS    /* UsersMapper.update */
        SET MOD_DT = CURRENT_TIMESTAMP
        <if test="userName != null">
            , USER_NAME = #{userName}
        </if>
        <if test="email != null">
            , EMAIL = #{email}
        </if>
        <if test="password != null">
            , PASSWORD = #{password}
        </if>
        <if test="role != null">
            , ROLE = #{role}
        </if>
        <if test="companySeq != null">
            , COMPANY_SEQ = #{companySeq}
        </if>
        <if test="delYn != null">
            , DEL_YN = #{delYn}
        </if>
        <if test="modId != null">
            , MOD_ID = #{modId}
        </if>
        WHERE USER_ID = #{userId}
    </update>

    <update id="deleteById">
        UPDATE TB_USERS /* UsersMapper.deleteById */
        SET DEL_YN = 'Y'
          , MOD_ID = 'system'
          , MOD_DT = CURRENT_TIMESTAMP
        WHERE USER_ID = #{id}
    </update>
</mapper>