<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smart.rms.system.mapper.MenuMapper">

    <select id="selectMenusByUserId" resultType="com.smart.rms.system.model.Menu">
        SELECT M.MENU_SEQ
             , M.MENU_NAME
             , M.PARENT_SEQ
             , M.MENU_PATH
             , M.MENU_ICON
             , M.MENU_ORDER
        FROM TB_MENU M
        ORDER BY M.PARENT_SEQ, M.MENU_ORDER
    </select>

</mapper>
